<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'css/passwords/view_passwords.css' %}?{% now 'U' %}">
<link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
{% endblock %}

{% block content %}
<h1 class="display-1">View Passwords</h1>
<table class="table table-striped table-dark mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">App</th>
            <th scope="col">Password</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for password in app_passwords %}
            <tr>
                <th scope="row" width="20%">{{ password.num }}</th>
                <td width="30%">{{ password.app }}</td>
                <td width="40%">{{ password.password }}</td>
                <td class="d-flex flex-row justify-content-end py-0 pt-1">
                    <button class="btn btn-outline-primary mx-5" onclick="editPassword('{{ password.app }}')">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-outline-danger mx-5" onclick="deletePassword('{{ password.app }}')">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="action" id="action" hidden>
</form>
<script>
    function deletePassword (app) {
        document.getElementById("action").value = "delete: " + app;
        var form = $("form");
        form.submit();
    }
    function editPassword(app) {
        document.getElementById("action").value = "edit: " + app;
        var form = $("form");
        form.submit();
    }
</script>
{% endblock %}