body {
    background-image: url("/static/css/images/password-reset-bg.png");
}

.asteriskField {
    display: none;
}

#div_id_new_password2 {
    margin-top: 3rem;
}

small {
    display: none!important;
}