body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Blinker', sans-serif;
}

#content {
    padding-top: 5rem;
}

#navbarNavAltMarkup .navbar-nav {
    width: 100%;
}