<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafePass</title>

    <script src="{% static 'bootstrap/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now 'U' %}">
    {% block css_link %}
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand mx-5" href="{% url 'index' %}">SafePass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mx-3 ml-5" href="{% url 'passwords:view_passwords' %}">Passwords</a>
                <a class="nav-link mx-3 ml-5" href="{% url 'passwords:new_password' %}">Manage Passwords</a>
                <div class="dropdown nav-link ml-lg-auto mr-lg-5 ml-5 p-0" id="account-icon">
                    <button class="btn btn-dark dropdown-toggle pl-0 pl-lg-2 mr-5" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.username|title }}
                        {% else %}
                            Login
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'users:user_logout' %}">Logout</a>
                            <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'users:user_signup' %}">Create New Account</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'users:user_login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'users:user_signup' %}">Signup</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>