<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<h1 class="display-2 my-auto mx-auto">Password Reset Successfully</h1>
<div class="alert alert-info mt-4">
    Your password has been reset.
</div>
<div class="lead mt-3">
    You may login now!
    <br>
    <a href="{% url 'users:user_login' %}" class="btn btn-primary mt-3">Login</a>
</div>
{% endblock %}