<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<h1 class="display-2 my-auto mx-auto">Reset Password</h1>
<form action="" method="POST" class="mt-3 pl-5">
    {% csrf_token %}
    <div class="form-group">
        {{ form|crispy }}
    </div>
    <input type="submit" value="Reset Password" class="btn btn-primary mt-3">
</form>
{% endblock %}