<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'css/users/user_login.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="display-2 col-xl-4 my-auto mx-auto">Login</h1>
    <form method="POST" class="col-xl-8 mt-3 pl-5">
        {% if not credentials_are_valid %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Invalid username or password!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <input type="submit" value="Login!" class="btn btn-primary mt-3">
    </form>
</div>
<div class="lead mt-5">
    Dont have an account?
    <br>
    <a href="{% url 'users:user_signup' %}">SignUp</a>
</div>
{% endblock %}